body{
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

.content-width{
    width:1500px;
}
.header{
    display:flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
}
.header-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.hlogo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

ul{
    list-style-type: none;
    display:flex;
    gap:20px;
    font-size: 18px;
}
.img-content{
    width:650px;
    height:300px;
}
.container-one{
    display:flex;
    justify-content: center;
    background-color: #1F2937;
    height: 450px;
}
.content{
    display:flex;
    align-items: center;
    color:#F9FAF8;
    justify-content: space-between;
}

.content-text{
    display:flex;
    flex-direction: column;
    width:400px;
}

.content-title{
    font-size: 48px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.subtext-1{
    font-size:20px;
}

button{
    padding: 8px 24px;
    background-color: #3882F6;
    width:110px;
    border-radius: 10px;
    color:white;
    margin-top: 10px;
    font-weight: 700;
    border: 1px solid #3882F6;
}
.content-two{
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    justify-content: center;
}
.container-two{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:1500px;
    
}
.content-header-two{
    color: #1f2937;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    margin-bottom:30px;
}
.information{
    display:flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    width:180px;
    height: 180px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    
}

.img-text{
    text-align: center;
    width: 190px;
    color: gray;
}

.container-three{
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    height:450px;
    font-style: italic;
    display:flex;
    justify-content: center;
}
.content-three{
    display:flex;
    width: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.container-four{
    display:flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.sub-container-4{
    background-color: #3882F6;
    width: 800px;
    border-radius: 10px;
    display: flex;
    padding: 40px 200px;
    color:#F9FAF8;
    justify-content: space-between;
}
.sub-title{
    font-size: 24px;
    font-weight: 800;
}

.container-4-button{
    border: 1px solid #F9FAF8;
}

.footer{
    display:flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    height: 70px;
}
